@{
    ViewBag.Title = "Success";
}

<div class="jumbotron">
    <h1>Thank You!</h1>
    <p>@Html.ActionLink("Ok", "ContactUs","Home", new { area = "" }, new { @class = "btn btn-success" })</p>
</div>
